<div class="site_footer">
    <div class="footer_inner">
        <div class="mod_footer">
            <!--placeholder-->
            <div class="footermenu">
                <p>免责声明:本网站为非赢利性站点，本网站所有内容均来源于互联网相关站点自动搜索采集信息，相关链接已经注明来源。</p>
                <p>目前正在筛选并逐步删除程序自动搜索采集到的不提供分享的版权影视。</p>
                <p>若侵犯了您的权益，请即时发邮件 linuxshao@163.com 通知站长,给你带来的不便深感抱歉.万分感谢！</p>
            </div>
            <div class="copyrighten">
                Copyright © 2017 -
                <span>
    <script>document.write(new Date().getFullYear());</script>
        2018
    </span> www.aiqihui.xin <a target="_blank" href="#" rel="nofollow">All Rights Reserved.</a>
            </div>
            <div class="copyrightzh">
                <a target="_blank" href="/" rel="nofollow">♥ 乐看影视</a>
            </div>
        </div>
    </div>
</div>