<div class="site_common_head">
    <div class="site_head" id="new_vs_header">
        <div class="head_line">
            <div class="inner">
            </div>
        </div>
        <div class="head_inner">
            <h1 class="site_logo"><a href="#" class="link_logo" _stat="new_vs_header:logo"><strong class="link_inner">乐看视频</strong></a></h1>
            <div class="mod_search">
                <form id="searchForm" action="{:url('/')}" method="get" target="_blank" class="search_form cf">
                    <!-- 顶部搜索框 开始 -->
                    <div class="search_inner">
                        <label class="search_label" for="keywords">搜索关键词</label>
                        <i class="icon icon_search">
                            <svg class="svg_icon svg_icon_search" viewbox="0 0 20 20" width="20" height="20">
                                <use xlink:href="#svg_icon_search"></use>
                            </svg>
                        </i>
                        <div class="search_keywords">
                            <input type="text" name="q" id="keywords" class="search_input" autocomplete="off" value="{if !empty($_GET['q'])}{$_GET['q']}{/if}">
                        </div>
                        <button class="search_btn" type="submit" _stat="new_vs_header:search"><span class="btn_inner">全网搜</span></button>
                    </div>
                    <!-- 顶部搜索框 结束 -->
                </form>
                <input type="hidden" name="stag">
                <input type="hidden" value="0" name="smartbox_ab">
                <div class="mod_smartbox none" id="smartbox">
                </div>
            </div>
        </div>
    </div>
    <!-- 快捷入口 结束 -->
</div>