<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title r-notemplate="true">最新高清电影视频-电影视频在线观看-乐看视频</title>
    <meta name="keywords" content="电影视频, 电影视频排行榜, 最新高清电影视频, 电影排行榜, 视频分享, 视频搜索, 视频播放,电影视频在线观看">
    <meta name="description" content="乐看视频是视频资源最全的网站,海量高清正版电影在线观看">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/tengent/list_base.css">
    <link id="float-panel-css" rel="stylesheet" type="text/css" href="/static/tengent/x_poster_card.css">
    <link rel="stylesheet" type="text/css" href="/static/tengent/x_dialog.css">
    <link rel="stylesheet" type="text/css" href="/static/tengent/video.css">
</head>
<body class="page_list" _wind="scene=list&amp;pagename=movie&amp;ext=sort.19~offset.0" _r-cid="0">
{include file='/video/head' /}
<div class="site_container site_container_filter" r-notemplate="true" _r-cid="1" _r-component="filter">
    <div class="container_inner">
        <div class="mod_filter">
            <div class="filter_list">
                <a href="/?q={$q}" class="filter_item open {if $type_id == 1}current{/if}" _stat2="filter:channel|电影">电影</a>
                <a href="/?type_id=2&q={$q}" class="filter_item {if $type_id == 2}current{/if}" _stat2="filter:channel|电视剧">电视剧</a>
            </div>
        </div>
        <div class="mod_filter_wrap">
            <div class="mod_filter_box current">
                <!-- 默认展开，收起去掉 current -->
                <div class="filter_box_inner">
                    <div class="filter_line">
                        <span class="label">类&nbsp;&nbsp;&nbsp;型：</span>
                        <div class="filter_content">
                            <a href="#" class="item current" _stat2="filter:params|subtype=-1">全部</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=1">剧情</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=2">喜剧</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=3">动作</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=4">爱情</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=5">犯罪</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=6">冒险</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=7">战争</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=8">惊悚</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=9">悬疑</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=10">恐怖</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=11">科幻</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=12">奇幻</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=13">家庭</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=14">动画</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=15">音乐</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=16">歌舞</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=17">历史</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=18">传记</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=19">武侠</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=20">伦理</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=21">纪录</a>
                        </div>
                    </div>
                    <div class="filter_line">
                        <span class="label">地&nbsp;&nbsp;&nbsp;区：</span>
                        <div class="filter_content">
                            <a href="#" class="item current" _stat2="filter:params|iarea=-1">全部</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=1">内地</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=2">中国香港</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=3">美国</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=4">欧洲</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=5">韩国</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=6">日本</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=7">中国台湾</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=8">泰国</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=9">印度</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=10">其他</a>
                        </div>
                    </div>
                    <div class="filter_line">
                        <span class="label">规&nbsp;&nbsp;&nbsp;格：</span>
                        <div class="filter_content">
                            <a href="#" class="item current" _stat2="filter:params|format=99">全部</a>
                            <a href="#" class="item" _stat2="filter:params|format=1">院线</a>
                            <a href="#" class="item" _stat2="filter:params|format=2">网络电影</a>
                            <a href="#" class="item" _stat2="filter:params|format=5">独播</a>
                            <a href="#" class="item" _stat2="filter:params|format=8">原声</a>
                            <a href="#" class="item" _stat2="filter:params|format=9">粤语</a>
                        </div>
                    </div>
                    <div class="filter_line">
                        <span class="label">年&nbsp;&nbsp;&nbsp;份：</span>
                        <div class="filter_content">
                            <a href="#" class="item current" _stat2="filter:params|iyear=-1">全部</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4330">2018</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4331">2017</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4332">2016</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4333">2015</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4334">2014-2010</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4335">2009-2000</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4336">90年代</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4337">80年代</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4338">更早</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site_container container_main" r-notemplate="true" _r-cid="3" _r-component="index">
    <div class="container_inner">
        <div class="wrapper">
            <div class="mod_figures_wrapper">
                <div class="mod_hd">
                    <div class="mod_row_filter">
                        <ul class="filter_tabs" r-notemplate="true" _r-cid="4" _r-component="tabs">
                            <li class="item {if empty($sort)}current{/if}">
                                <a href="/?q={$q}&type_id={$type_id}" _stat2="tabs:sort|最新上架">全部</a>
                            </li>
                            <li class="item {if $sort == 1}current{/if}">
                                <a href="/?q={$q}&sort=1&type_id={$type_id}" _stat2="tabs:sort|最新上架">最新上架</a>
                            </li>
                            <li class="item {if $sort == 2}current{/if}">
                                <a href="/?q={$q}&sort=2&type_id={$type_id}" _stat2="tabs:sort|最近热播">最近热播</a>
                            </li>
                            <li class="item {if $sort == 3}current{/if}">
                                <a href="/?q={$q}&sort=3&type_id={$type_id}" _stat2="tabs:sort|最受好评">最受好评</a>
                            </li>
                        </ul>
                        <div class="filter_option" r-notemplate="true">
                            <span class="option_txt">共<em class="hl">5000</em>条筛选结果</span>
                            <span class="option_txt"><em class="hl">1</em>/167</span>
                        </div>
                    </div>
                </div>
                <div class="mod_bd" _wind="columnname=video" r-notemplate="true">
                    <div class="mod_figures mod_figure_v" r-notemplate="true">
                        <ul class="figures_list">
                            {volist name="list" id="vo"}
                            <li class="list_item">
                                <a href="/show/{$vo.id}.html" class="figure" data-float="qqmum3p12emben1" tabindex="-1" _stat2="videos:pic" data-floatid="3">
                                    <img src="{$vo.thumb}" alt="{$vo.title}">
                                    <div class="figure_caption figure_caption_score">
                                        {if condition="$vo.type_id == 1"}
                                        <span class="figure_info">{$vo.second_title}</span>
                                        {else /}
                                        <span class="figure_info">{if strstr($vo.summary,'更新')}更新至{$vo.current_num}集{else}全{$vo.current_num}集{/if}</span>
                                        {/if}
                                    </div>
                                </a>
                                <div class="figure_title_score">
                                    <strong class="figure_title"><a href="/show/{$vo.id}.html" title="{$vo.title}"
                                                                    _stat2="videos:title">{$vo.title}</a></strong>
                                    <div class="figure_score">
                                        {$vo.score}
                                    </div>
                                </div>
                                <div class="figure_desc">
                                    主演：
                                    {$vo.leading_actor}
                                </div>
                                <div class="figure_count">
                                    <span class="num">{$vo.num}</span>
                                </div>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mod_pages">
                {$list->render()}
            </div>
        </div>
    </div>
</div>
{include file='/video/foot' /}
</body>
</html>