<!DOCTYPE html>
<html lang="zh-CN">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title r-notemplate="true">最新高清电影视频-电影视频在线观看-乐看视频</title>
    <meta name="keywords" content="电影视频, 电影视频排行榜, 最新高清电影视频, 电影排行榜, 视频分享, 视频搜索, 视频播放,电影视频在线观看">
    <meta name="description" content="乐看视频是视频资源最全的网站,海量高清正版电影在线观看">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/tengent/list_base.css">
    <link id="float-panel-css" rel="stylesheet" type="text/css" href="/static/tengent/x_poster_card.css">
    <link rel="stylesheet" type="text/css" href="/static/tengent/x_dialog.css">
    <link rel="stylesheet" type="text/css" href="/static/tengent/video.css">
</head>
<body class="page_list" _wind="scene=list&amp;pagename=movie&amp;ext=sort.19~offset.0" _r-cid="0">
{include file='/video/head' /}
<div class="site_container site_container_filter" r-notemplate="true" _r-cid="1" _r-component="filter">
    <div class="container_inner">
        <div class="mod_filter">
            <div class="filter_list">
                <a href="/" class="filter_item open {if empty($data['type_id'])}current{/if}" _stat2="filter:channel|电影">电影</a>
                <a href="/?type_id=2" class="filter_item {if $data['type_id']==2}current{/if}" _stat2="filter:channel|电视剧">电视剧</a>
            </div>
        </div>
    </div>
</div>
<div class="site_container container_main" r-notemplate="true" _r-cid="3" _r-component="index">
    <div class="container_inner">
        <!--面包屑-->
        <p class="col-md-12"><a href="/">首页</a> / <a href="">电影</a> / {$data['title']}</p>
        <!--标题-->
        <div class="col-md-12">
            <h2 style="font-size: 28px;font-weight: bold">{$data['title']} <span style="color: #4b4b4b">({$data['year']})</span></h2>
        </div>
        <div class="row">
            <!--左边-->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <a href="/play/{$data['id']}.html">
                            <img class="img-thumbnail" alt="{$data['title']}" width="100%" src="{$data['thumb']}">
                        </a>
                        <div class="online-button">
                            {if $data['type_id'] == 2 && !empty($data['items'])}
                            <a target="_blank" class="btn btn-success btn-block" href="/play/{$data['id']}/{$data['items'][0]['id']}.html">立即播放</a>
                            {else}
                            <a target="_blank" class="btn btn-success btn-block" href="/play/{$data['id']}.html">立即播放</a>
                            {/if}
                        </div>
                    </div>
                    <div class="col-md-9" style="padding-right: 5px">
                        <table class="table table-striped table-condensed table-bordered" style="margin-bottom:10px;font-size:12px;">
                            <tbody>
                            <tr>
                                <td class="span2"><span class="info-label">名称</span></td>
                                <td>{$data['title']} {$data['title_en']? ' / '.$data['title_en'] : ''}</td>
                            </tr>
                            <tr>
                                <td class="span2"><span class="info-label">导演</span></td>
                                <td>{$data['director']}</td>
                            </tr>
                            <tr>
                                <td class="span2"><span class="info-label">主演</span></td>
                                <td id="casts" style="position:relative;">{$data['leading_actor']}</td>
                            </tr>
                            <tr>
                                <td class="span2"><span class="info-label">类型</span></td>
                                <td>{$data['subtype']}</td>
                            </tr>
                            <tr>
                                <td class="span2"><span class="info-label">国家/地区</span></td>
                                <td>{$data['area_name']}</td>
                            </tr>
                            <tr>
                                <td class="span2"><span class="info-label">上映日期</span></td>
                                <td>{$data['publish_date']}</td>
                            </tr>
                            <tr>
                                <td class="span2"><span class="info-label">播放量</span></td>
                                <td>{$data['num']}</td>
                            </tr>
                            <tr>
                                <td class="span2"><span class="info-label">评分</span></td>
                                <td>{$data['score']}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="color:#777;"><strong>剧情介绍：</strong>{$data['description']}</p>
                        <p class="summary"></p>
                    </div>
                </div>
            </div>
            <!--右边-->
            <div class="col-md-3">
                <div class="list-group">
                    <a class="list-group-item list-head" style="background: #f5f5f5;font-size: 16px;font-weight: bolder;">
                        <i class="glyphicon glyphicon-film"></i> 高分电影：
                    </a>
                    {volist name="hot_mvs" id="vo"}
                    <a target="/show/{$vo.id}.html" title="{$vo.title}({$vo.year})" href="/show/{$vo.id}.html" class="list-group-item">
                        {$vo.title} {$vo.title_en? ' / '.$vo.title_en : ''} <em> ({$vo.score}) </em>
                    </a>
                    {/volist}
                </div>
            </div>
            <style>
                .btn-sm {
                    background-color: #337ab7;
                    border-color: #2e6da4;
                    margin: 3px 2px;
                    width: 62px;
                }

                .btn-sm:hover {
                    background-color: #2e6da4;
                }
            </style>
            <!--选集-->
            <div class="col-md-12" style="margin-bottom: 10px;">
                {volist name="$data['items']" id="val" key="k"}
                <a href="/play/{$data['id']}/{$val.id.'.html'}" class="btn btn-success btn-sm" role="button">第{$k}集</a>
                {/volist}
            </div>
            <!--下面-->
            <div class="col-md-12">
                <div class="list-group">
                    <a class="list-group-item list-head" style="background: #f5f5f5;font-size: 16px;font-weight: bolder;color:#ff0000">
                        <i class="glyphicon glyphicon-film danger"></i> <strong>《{$data['title']}》 - 资源观看帮助：</strong>
                    </a>
                    <span class="list-group-item" style="font-size: 15px;font-weight: bolder;">如果有观看不了情况,优先切换线路尝试</span>
                    <span class="list-group-item">1、有个别电影打开后播放需要等待。</span>
                    <span class="list-group-item">2、如果电影打开不能播放请等待我们更换资源。</span>
                    <span class="list-group-item">3、有的播放不了请切换线路多刷新几下，试试。</span>
                </div>
            </div>
        </div>

    </div>
</div>
{include file='/video/foot' /}
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</html>