<!DOCTYPE html>
<html lang="zh-CN">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title r-notemplate="true">热门电影大全-电影排行榜-腾讯视频</title>
    <meta name="keywords" content="电影视频, 电影视频排行榜, 最新高清电影视频, 电影排行榜, 腾讯视频, 视频分享, 视频搜索, 视频播放,电影视频在线观看">
    <meta name="description" content="腾讯视频是国内更新电影最快,收录电影,视频资源最全的网站,腾讯视频电影频道提供全新热门电影免费观看,海量高清正版电影在线观看,同步更新全国视频网站热映大片,包括欧美大片,日韩电影,华语电影等">
    <link rel="shortcut icon" href="https://v.qq.com/favicon.ico">
    <link rel="stylesheet" href="/static/tengent/list_base.css">
    <link id="float-panel-css" rel="stylesheet" type="text/css" href="/static/tengent/x_poster_card.css">
    <link rel="stylesheet" type="text/css" href="/static/tengent/x_dialog.css">
</head>
<body class="page_list" _wind="scene=list&amp;pagename=movie&amp;ext=sort.19~offset.0" _r-cid="0">
<div class="site_common_head">
    <div class="site_head" id="new_vs_header">
        <div class="head_line">
            <div class="inner">
            </div>
        </div>
        <div class="head_inner">
            <h1 class="site_logo"><a href="#" class="link_logo" _stat="new_vs_header:logo"><strong class="link_inner">腾讯视频</strong></a></h1>
            <div class="site_channel">
                <span class="channel_title"></span>
                <div class="channel_area">
                    <a href="#" class="channel_home" _stat="new_vs_header:home"><i class="icon_sm icon_home_sm">
                        <svg class="svg_icon svg_icon_home_sm" viewbox="0 0 16 16" width="16" height="16">
                            <use class="txp_svg_symbol" xlink:href="#svg_icon_home_sm"></use>
                        </svg>
                    </i><span class="icon_text">首页</span></a>
                    <div class="nav_more_pop">
                        <div class="nav_pop_inner">
                            <i class="triangle_up"><i class="triangle_inner"></i></i>
                            <div class="nav_pop_content">
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_电视剧">电视剧</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_综艺">综艺</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_电影">电影</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_VIP影院">VIP影院</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_动漫">动漫</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_少儿">少儿</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_娱乐">娱乐</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_音乐">音乐</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_演唱会">演唱会</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_美剧">美剧</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_韩剧">韩剧</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_纪录片">纪录片</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_微电影">微电影</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_新闻">新闻</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_体育">体育</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_世界杯">世界杯</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_NBA">NBA</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_搞笑">搞笑</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_游戏">游戏</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_原创">原创</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_时尚">时尚</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_生活">生活</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_拍客">拍客</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_汽车">汽车</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_科技">科技</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_财经">财经</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_房产">房产</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_直播">直播</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_影评">影评</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_精品课">精品课</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_育儿">育儿</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_旅游">旅游</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_热播榜">热播榜</a>
                                <a href="#" class="link_nav" target="_blank" _stat="new_vs_header:pop_热搜榜">热搜榜</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mod_search">
                <form id="searchForm" action="https://v.qq.com/x/search/" method="get" target="_blank" class="search_form cf">
                    <!-- 顶部搜索框 开始 -->
                    <div class="search_inner">
                        <label class="search_label" for="keywords">搜索关键词</label>
                        <i class="icon icon_search">
                            <svg class="svg_icon svg_icon_search" viewbox="0 0 20 20" width="20" height="20">
                                <use xlink:href="#svg_icon_search"></use>
                            </svg>
                        </i>
                        <div class="search_keywords">
                            <input type="text" name="q" id="keywords" class="search_input" placeholder="如懿传" autocomplete="off" value="如懿传">
                        </div>
                        <input type="hidden" name="stag">
                        <input type="hidden" name="smartbox_ab">
                        <button class="search_btn" type="submit" _stat="new_vs_header:search"><span class="btn_inner">全网搜</span></button>
                        <!-- <a class="btn_search_hot" href="#" target="_blank" _stat="new_vs_header:search_hotlist" title="全网热搜榜"><i class="icon icon_search_hot"><svg class="svg_icon svg_icon_search_hot" viewbox="0 0 20 20" width="20" height="20"><use xlink:href="#svg_icon_search_hot"></use></svg></i></a> -->
                        <a class="btn_search_hot" href="#" target="_blank" _stat="new_vs_header:search_hotlist"><i class="icon_sm icon_search_hot_sm">
                            <svg class="svg_icon" viewbox="0 0 16 16" width="16" height="16">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg_icon_search_hot_sm"></use>
                            </svg>
                        </i><i class="icon_search_hot_animation"></i><span class="btn_inner">热搜榜</span></a>
                    </div>
                    <!-- 顶部搜索框 结束 -->
                </form>
                <div class="mod_smartbox none" id="smartbox">
                </div>
            </div>
            <!-- vip -->
            <!--<div class="quick_item quick_vip">-->
            <!--<a href="#" class="quick_link" target="_blank"><i class="icon icon_vip_flat"><svg class="svg_icon svg_icon_vip_flat" viewbox="0 0 20 20" width="20" height="20"><use xlink:href="#svg_icon_vip_flat"></use></svg></i><span class="quick_text">VIP</span><i class="triangle_up"><i class="triangle_inner"></i></i></a>-->
            <!--<div class="mod_quick_pop mod_pop_vip">
        </div>
        -->
            <!--</div>-->
        </div>
    </div>
    <!-- 快捷入口 结束 -->
</div>
</div>
</div>
<div class="site_container site_container_filter" r-notemplate="true" _r-cid="1" _r-component="filter">
    <div class="container_inner">
        <div class="mod_filter">
            <div class="filter_list">
                <a href="#" class="filter_item current open" _stat2="filter:channel|电影">电影</a>
                <a href="#" class="filter_item" _stat2="filter:channel|电视剧">电视剧</a>
                <a href="#" class="filter_item" _stat2="filter:channel|综艺">综艺</a>
                <a href="#" class="filter_item" _stat2="filter:channel|动漫">动漫</a>
                <a href="#" class="filter_item" _stat2="filter:channel|少儿">少儿</a>
                <a href="#" class="filter_item" _stat2="filter:channel|音乐">音乐</a>
                <a href="#" class="filter_item" _stat2="filter:channel|纪录片">纪录片</a>
                <a href="#" class="filter_item" _stat2="filter:channel|新闻">新闻</a>
                <a href="#" class="filter_item" _stat2="filter:channel|军事">军事</a>
                <a href="#" class="filter_item" _stat2="filter:channel|娱乐">娱乐</a>
                <a href="#" class="filter_item" _stat2="filter:channel|体育">体育</a>
                <a href="#" class="filter_item" _stat2="filter:channel|游戏">游戏</a>
                <a href="#" class="filter_item" _stat2="filter:channel|搞笑">搞笑</a>
                <a href="#" class="filter_item" _stat2="filter:channel|王者荣耀">王者荣耀</a>
                <a href="#" class="filter_item" _stat2="filter:channel|微电影">微电影</a>
                <a href="#" class="filter_item" _stat2="filter:channel|时尚">时尚</a>
                <a href="#" class="filter_item" _stat2="filter:channel|生活">生活</a>
                <a href="#" class="filter_item" _stat2="filter:channel|母婴">母婴</a>
                <a href="#" class="filter_item" _stat2="filter:channel|汽车">汽车</a>
                <a href="#" class="filter_item" _stat2="filter:channel|科技">科技</a>
                <a href="#" class="filter_item" _stat2="filter:channel|教育">教育</a>
                <a href="#" class="filter_item" _stat2="filter:channel|财经">财经</a>
                <a href="#" class="filter_item" _stat2="filter:channel|房产">房产</a>
                <a href="#" class="filter_item" _stat2="filter:channel|旅游">旅游</a>
            </div>
        </div>
        <div class="mod_filter_wrap">
            <div class="mod_filter_box current">
                <!-- 默认展开，收起去掉 current -->
                <div class="filter_box_inner">
                    <div class="filter_line">
                        <span class="label">类&nbsp;&nbsp;&nbsp;型：</span>
                        <div class="filter_content">
                            <a href="#" class="item current" _stat2="filter:params|subtype=-1">全部</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=1">剧情</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=2">喜剧</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=3">动作</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=4">爱情</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=5">犯罪</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=6">冒险</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=7">战争</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=8">惊悚</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=9">悬疑</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=10">恐怖</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=11">科幻</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=12">奇幻</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=13">家庭</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=14">动画</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=15">音乐</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=16">歌舞</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=17">历史</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=18">传记</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=19">武侠</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=20">伦理</a>
                            <a href="#" class="item" _stat2="filter:params|subtype=21">纪录</a>
                        </div>
                    </div>
                    <div class="filter_line">
                        <span class="label">地&nbsp;&nbsp;&nbsp;区：</span>
                        <div class="filter_content">
                            <a href="#" class="item current" _stat2="filter:params|iarea=-1">全部</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=1">内地</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=2">中国香港</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=3">美国</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=4">欧洲</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=5">韩国</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=6">日本</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=7">中国台湾</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=8">泰国</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=9">印度</a>
                            <a href="#" class="item" _stat2="filter:params|iarea=10">其他</a>
                        </div>
                    </div>
                    <div class="filter_line">
                        <span class="label">规&nbsp;&nbsp;&nbsp;格：</span>
                        <div class="filter_content">
                            <a href="#" class="item current" _stat2="filter:params|format=99">全部</a>
                            <a href="#" class="item" _stat2="filter:params|format=1">院线</a>
                            <a href="#" class="item" _stat2="filter:params|format=2">网络电影</a>
                            <a href="#" class="item" _stat2="filter:params|format=5">独播</a>
                            <a href="#" class="item" _stat2="filter:params|format=8">原声</a>
                            <a href="#" class="item" _stat2="filter:params|format=9">粤语</a>
                        </div>
                    </div>
                    <div class="filter_line">
                        <span class="label">年&nbsp;&nbsp;&nbsp;份：</span>
                        <div class="filter_content">
                            <a href="#" class="item current" _stat2="filter:params|iyear=-1">全部</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4330">2018</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4331">2017</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4332">2016</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4333">2015</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4334">2014-2010</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4335">2009-2000</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4336">90年代</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4337">80年代</a>
                            <a href="#" class="item" _stat2="filter:params|iyear=4338">更早</a>
                        </div>
                    </div>
                    <div class="filter_line">
                        <span class="label">资&nbsp;&nbsp;&nbsp;费：</span>
                        <div class="filter_content">
                            <a href="#" class="item current" _stat2="filter:params|pay=-1">全部</a>
                            <a href="#" class="item" _stat2="filter:params|pay=100001">免费</a>
                            <a href="#" class="item" _stat2="filter:params|pay=100002">会员</a>
                        </div>
                    </div>
                    <div class="filter_more" r-notemplate="true" _r-cid="2" _r-component="filter-search">
                        <span class="label">您还可以搜：</span>
                        <div class="filter_content _cont">
                            <a href="#" class="item" target="_blank" title="漫威出品" _stat2="filter-search:item|漫威出品">漫威出品</a>
                            <a href="#" class="item" target="_blank" title="林正英鬼片" _stat2="filter-search:item|林正英鬼片">林正英鬼片</a>
                            <a href="#" class="item" target="_blank" title="星爷电影" _stat2="filter-search:item|星爷电影">星爷电影</a>
                            <a href="#" class="item" target="_blank" title="李连杰" _stat2="filter-search:item|李连杰">李连杰</a>
                            <a href="#" class="item" target="_blank" title="恐怖片" _stat2="filter-search:item|恐怖片">恐怖片</a>
                            <a href="#" class="item" target="_blank" title="发哥经典" _stat2="filter-search:item|发哥经典">发哥经典</a>
                            <a href="#" class="item" target="_blank" title="甄子丹" _stat2="filter-search:item|甄子丹">甄子丹</a>
                            <a href="#" class="item" target="_blank" title="吴京" _stat2="filter-search:item|吴京">吴京</a>
                            <a href="#" class="item" target="_blank" title="刘德华" _stat2="filter-search:item|刘德华">刘德华</a>
                            <a href="#" class="item" target="_blank" title="日本好片" _stat2="filter-search:item|日本好片">日本好片</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site_container container_main" r-notemplate="true" _r-cid="3" _r-component="index">
    <div class="container_inner">
        <div class="wrapper">
            <div class="mod_figures_wrapper">
                <div class="mod_hd">
                    <div class="mod_row_filter">
                        <ul class="filter_tabs" r-notemplate="true" _r-cid="4" _r-component="tabs">
                            <li class="item current">
                                <a href="#" _stat2="tabs:sort|最新上架">最新上架</a>
                            </li>
                            <li class="item">
                                <a href="#" _stat2="tabs:sort|院线上映">院线上映</a>
                            </li>
                            <li class="item">
                                <a href="#" _stat2="tabs:sort|最近热播">最近热播</a>
                            </li>
                            <li class="item">
                                <a href="#" _stat2="tabs:sort|最受好评">最受好评</a>
                            </li>
                            <li class="item">
                                <a href="#" _stat2="tabs:sort|豆瓣好评">豆瓣好评</a>
                            </li>
                        </ul>
                        <div class="filter_option" r-notemplate="true">
                            <span class="option_txt">共<em class="hl">5000</em>条筛选结果</span>
                            <span class="option_txt"><em class="hl">1</em>/167</span>
                        </div>
                    </div>
                </div>
                <div class="mod_bd" _wind="columnname=video" r-notemplate="true">
                    <div class="mod_figures mod_figure_v" r-notemplate="true">
                        <ul class="figures_list">
                            {volist name="list" id="vo"}
                            <li class="list_item">
                                <a href="/video/show/{$vo.id}/" class="figure" data-float="qqmum3p12emben1" tabindex="-1" _stat2="videos:pic" data-floatid="3">
                                    <img src="{$vo.thumb}" alt="{$vo.title}">
                                    <div class="figure_caption figure_caption_score">
                                        <span class="figure_info">{$vo.second_title}</span>
                                    </div>
                                </a>
                                <div class="figure_title_score">
                                    <strong class="figure_title"><a href="/video/show/{$vo.id}/" title="{$vo.title}"
                                                                    _stat2="videos:title">{$vo.title}</a></strong>
                                    <div class="figure_score">
                                        {$vo.score}
                                    </div>
                                </div>
                                <div class="figure_desc">
                                    主演：
                                    {$vo.leading_actor}
                                </div>
                                <div class="figure_count">
                                    <span class="num">{$vo.num}</span>
                                </div>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
            <style>

                .pagination {
                    width: auto;
                    height: auto;
                    color: #333;
                    font-size: 15px;
                    float: right;
                    display: block;
                    margin-top: 30px;
                }

                .pagination:hover {
                    cursor: pointer;
                }

                .pagination li {
                    width: auto;
                    height: auto;
                    float: left;
                    display: block;
                    margin-right: 10px;
                    text-align: center;
                    border-radius: 15%;
                }

                .pagination li.active span {
                    display: inline-block;
                    min-width: 10px;
                    height: 30px;
                    margin: 0 5px;
                    padding: 0 10px;
                    line-height: 30px;
                    border: 1px solid #ff920b;
                    background: #ff920b;
                    text-align: center;
                    border-radius: 2px;
                    font-size: 14px;
                    color: #fff;
                }
            </style>
            <div class="mod_pages">
                {$list->render()}
            </div>
        </div>
    </div>
</div>
<div class="site_footer">
    <div class="footer_inner">
        <div class="mod_footer_contentinfo cf">
            <div class="contentinfo_column contentinfo_channel">
                <em class="contentinfo_title">热门频道</em>
                <ul>
                    <li><a href="#" target="_blank" title="电视剧" _stat="page_footer:channel_1">电视剧</a></li>
                    <li><a href="#" target="_blank" title="综艺" _stat="page_footer:channel_2">综艺</a></li>
                    <li><a href="#" target="_blank" title="电影" _stat="page_footer:channel_3">电影</a></li>
                    <li><a href="#" target="_blank" title="搞笑" _stat="page_footer:channel_4">搞笑</a></li>
                    <li><a href="#" target="_blank" title="娱乐" _stat="page_footer:channel_5">娱乐</a></li>
                    <li><a href="#" target="_blank" title="MV" _stat="page_footer:channel_6">MV</a></li>
                    <li><a href="#" target="_blank" title="动漫" _stat="page_footer:channel_7">动漫</a></li>
                    <li><a href="#" target="_blank" title="游戏" _stat="page_footer:channel_8">游戏</a></li>
                    <li><a href="#" target="_blank" title="VIP影院" _stat="page_footer:channel_9">VIP影院</a></li>
                    <li><a href="#" target="_blank" title="英美剧" _stat="page_footer:channel_10">英美剧</a></li>
                    <li><a href="#" target="_blank" title="纪录片" _stat="page_footer:channel_11">纪录片</a></li>
                    <li><a href="#" target="_blank" title="新闻" _stat="page_footer:channel_12">新闻</a></li>
                    <li><a href="#" target="_blank" title="体育" _stat="page_footer:channel_13">体育</a></li>
                    <li><a href="#" target="_blank" title="生活" _stat="page_footer:channel_14">生活</a></li>
                    <!--[if !IE]>|xGv00|37004d0491fa7d85db7e0b6349f3a048<![endif]-->
                </ul>
            </div>
            <div class="contentinfo_column contentinfo_feature">
                <em class="contentinfo_title">特色推荐</em>
                <ul>
                    <li><a href="#" target="_blank" title="原创自媒体" _stat="page_footer:rec_1">原创自媒体</a></li>
                    <li><a href="#" target="_blank" title="微电影" _stat="page_footer:rec_2">微电影</a></li>
                    <li><a href="#" target="_blank" title="拍客" _stat="page_footer:rec_3">拍客</a></li>
                    <li><a href="#" target="_blank" title="杀毒软件" _stat="page_footer:rec_4">杀毒软件</a></li>
                    <!--[if !IE]>|xGv00|d866fff45657538033983dd0d469c4f9<![endif]-->
                </ul>
            </div>
            <div class="contentinfo_column contentinfo_download">
                <em class="contentinfo_title">软件下载</em>
                <div class="dl_list">
                    <a class="item" target="_blank" href="#" _stat="page_footer:download_1">
                        <i class="icon_l icon_phone_l">
                            <svg class="svg_icon" viewbox="0 0 50 50" width="50" height="50">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg_icon_phone_l"></use>
                            </svg>
                        </i>
                        <span class="text_icon">手机版</span>
                    </a>
                    <a class="item" target="_blank" href="#" _stat="page_footer:download_2">
                        <i class="icon_l icon_win_l">
                            <svg class="svg_icon" viewbox="0 0 50 50" width="50" height="50">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg_icon_win_l"></use>
                            </svg>
                        </i>
                        <span class="text_icon">Windows版</span>
                    </a>
                    <a class="item" target="_blank" href="#" _stat="page_footer:download_3">
                        <i class="icon_l icon_mac_l">
                            <svg class="svg_icon" viewbox="0 0 50 50" width="50" height="50">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg_icon_mac_l"></use>
                            </svg>
                        </i>
                        <span class="text_icon">Mac版</span>
                    </a>
                    <a class="item" target="_blank" href="#" _stat="page_footer:download_4">
                        <i class="icon_l icon_ipad_l">
                            <svg class="svg_icon" viewbox="0 0 50 50" width="50" height="50">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg_icon_ipad_l"></use>
                            </svg>
                        </i>
                        <span class="text_icon">iPad版</span>
                    </a>
                    <a class="item" target="_blank" href="#" _stat="page_footer:download_5">
                        <i class="icon_l icon_tv_l">
                            <svg class="svg_icon" viewbox="0 0 50 50" width="50" height="50">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg_icon_tv_l"></use>
                            </svg>
                        </i>
                        <span class="text_icon">TV版</span>
                    </a>
                </div>
            </div>
            <div class="contentinfo_column contentinfo_service">
                <em class="contentinfo_title">服务</em>
                <ul>
                    <li><a href="#" target="_blank" title="客服" _stat="page_footer:service_1">客服</a></li>
                    <li><a href="#" target="_blank" title="反馈" _stat="page_footer:service_2">反馈</a></li>
                    <li><a href="#" target="_blank" title="侵权投诉" _stat="page_footer:service_3">侵权投诉</a></li>
                    <li><a href="#" target="_blank" title="免广告合作" _stat="page_footer:service_4">免广告合作</a></li>
                    <!--[if !IE]>|xGv00|50fe2943e16f80a385ff71c4cab27aa4<![endif]-->
                </ul>
            </div>
        </div>
        <div class="mod_footer">
            <!--placeholder-->
            <div class="footermenu">
                <a href="#" rel="nofollow" target="_blank">关于腾讯</a> | <a href="#" rel="nofollow" target="_blank">About Tencent</a> | <a href="#" rel="nofollow"
                                                                                                                                        target="_blank">服务条款</a>
                | <a href="#" rel="nofollow" target="_blank">广告服务</a> | <a href="#" rel="nofollow" target="_blank">腾讯招聘</a> | <a href="#" rel="nofollow"
                                                                                                                                 target="_blank">客服中心</a> | <a
                    href="#" rel="nofollow" target="_blank">网站导航</a>
            </div>
            <div class="copyrighten">
                Copyright © 1998 -
                <span>
    <script>document.write(new Date().getFullYear());</script>
        2018
    </span> Tencent. <a target="_blank" href="#" rel="nofollow">All Rights Reserved.</a>
            </div>
            <div class="copyrightzh">
                腾讯公司
                <a target="_blank" href="#" rel="nofollow">版权所有</a><a target="_blank" href="#" rel="nofollow">腾讯网络文化经营许可证</a>
            </div>
        </div>
    </div>
</div>
<!-- 返回顶部和意见反馈按钮 -->
<div class="mod_fiexdtool" r-notemplate="true" _r-cid="5" _r-component="tools">
    <a href="#" class="ft_cell ft_cell_backup none" _stat2="tools:backup"><i class="icon_lg icon_backup_lg">
        <svg class="svg_icon svg_icon_backup_lg" viewbox="0 0 30 30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg_icon_backup_lg"></use>
        </svg>
    </i><span class="icon_text">返回顶部</span></a><a href="#" target="_blank" class="ft_cell ft_cell_feedback" _stat2="tools:feedback"><i
        class="icon_lg icon_feedback_lg">
    <svg class="svg_icon svg_icon_feedback_lg" viewbox="0 0 30 30">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg_icon_feedback_lg"></use>
    </svg>
</i><span class="icon_text">意见反馈</span></a>
</div>
<!--[if IE]>
<iframe src="about:blank" frameborder="0" class="x_iframe_mask">
</iframe>
<![endif]-->
</div>
</body>
<style type="text/css" id="170866416915">
</style>
</html>